<!DOCTYPE html>
<html lang="en" ng-app="mainApp">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="Keywords" content=""/>
    <meta name="Description" content=""/>
    <meta name="viewport" content="width=750,user-scalable=no,target-densitydpi=device-dpi">
    <link  type="text/css" rel="stylesheet"  href="/stylesheets/AdminLTE.min.css">
    <link  type="text/css" rel="stylesheet"  href="/stylesheets/bootstrap.css">
    <script src="/javascripts/jquery-1.11.2.min.js"></script>
</head>
<body ng-controller="">
{% block body %}{% endblock %}
</body>
<script>

</script>

</html>